<h1>Formulario con Symfony 4</h1>

{# 'form' es la variable que llega del controlador con los campos #}
{{ form_start(form) }}

{# Mostrar/Imprimir por pantalla los campos del formulario #}
{{ form_widget(form) }}

{# Cerrar formulario 'form' #}
{{ form_end(form) }}